</html>
<article class="what-we-do-scroller">
    <div class="gallery-wrap" >
      <img src="images/left-arrow.png" class="backBtn"> 
      
      <div class="gallery-container 2"> 
        <div class="gallery-scroll">  
          <span class="gallery-item">

            <img src= "images/holding-banner.jpg" />
          </span>
          <span class="gallery-item">

            <img class="gallery-img" src= "images/harriet-playing.jpg" />
          </span>
        </div>
        <div class="gallery-scroll">  

          <span class="gallery-item">

            <img src= "images/KL2_7291web.jpg" />
          </span>
          <span class="gallery-item">

            <img src= "images/sinead-playing.jpg" />
          </span>
        </div>
        <div class="gallery-scroll">  

          <span class="gallery-item">

            <img src= "../images/KL2_7633web.jpg" />
          </span>
          <span class="gallery-item">

            <img src= "images/KL2_7707web.jpg" />
          </span>
        </div>
        <div class="gallery-scroll">  

          <span class="gallery-item">

            <img src= "images/KL2_7813web.jpg" />
          </span>
          <span class="gallery-item">

            <img src="images/KL2_7921web.jpg" />
          </span>
        </div>
      </div> 
      
      <img src="images/right-arrow.png" class="nextBtn"> 
    </div>

  </article>