</html>
<footer>
    <section class="siteDetails">
        <h4>Photos par Katy Lunsford photography</h4>
        <h4>Art par Aquaroline</h4>
        <h4>Application construite et maintenue par <a class="wattsLink" href="https://awattsdev.eu/" target="_blank">awattsdev</a> full stack applications.

        </h4>
    </section>

</footer>