</html>

    <section class="footerLogosSection">
        <a href="https://www.frenchweddingsuppliers.com/supplier/432-the-pop-up-wedding-creche" target="_blank" ><img class="footerLogo" src="../images/fws_logo.png" alt="Logo for French Wedding Suppliers " ></a>

    </section>
    <section class="siteDetails">
        <h4>Photos by Katy Lunsford photography</h4>
        <h4>Artwork by Aquaroline</h4>
        <h4>Application constructed & maintained by <a class="wattsLink" href="https://awattsdev.eu/" target="_blank">awattsdev</a> full stack applications.

        </h4>
    </section>

