</html>
    <div class="gallery-wrap" >
        <img src="images/left-arrow.png" class="backBtn"> 
        
        <div class="gallery-container"> 
          <div class="gallery-scroll">  
            <span class="gallery-item">

              <img src= "images/KL2_8447web.jpg" />
            </span>
            <span class="gallery-item">

              <img class="gallery-img" src= "images/KL2_7489web.jpg" />
            </span>
          </div>
          <div class="gallery-scroll">  

            <span class="gallery-item">

              <img src= "images/KL2_8765web.jpg" />
            </span>
            <span class="gallery-item">

              <img src= "images/KL2_8782web.jpg" />
            </span>
          </div>
          <div class="gallery-scroll">  
            <span class="gallery-item">

              <img src= "images/KL2_8763web.jpg" />
            </span>
            <span class="gallery-item">

              <img class="gallery-img" src= "images/KL2_8704web.jpg" />
            </span>
          </div>
        </div> 
        
        <img src="images/right-arrow.png" class="nextBtn"> 
      </div>