<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>The Wedding Creche</title>
  <meta name="The Wedding Creche" content="Homepage for 'The wedding creche'">
  <meta name="Author" content="AWattsDev">


  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  


  <link href="https://fonts.googleapis.com/css2?family=Genos&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">


</head>

<body>


  
  <div id="overlay">
    
    <nav>
      
        <ul class="nav-bar-list">
          <a><li class="col1">What We Do</li></a>
          <a><li class="col2">Meet Us</li></a>
          <a><li class="col3">Reviews</li></a>
          <a><li class="col1">FAQ</li></a>
          <a><li class="col2">Gallery</li></a>
          <a><li class="col3">Contact</li></a>


        </ul>

        <aside class="language-toggle">
          <a><p>Eng</p></a>
          <a><p>Fr</p></a>
        </aside>
      
    </nav>
    
    <section id="splash">
      
      <article>
        <img src="https://unsplash.it/600/400?image=500">
        <h1>
          Experienced childcare professionals for weddings, events and more…
        </h1>
      </article>
      <div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div >

    </section>

    <section id="what-we-do">
      <article class="what-we-do-info">

      
      <h1>WHAT WE DO</h1>
      <p>
        We are experienced childcare professionals offering a friendly, nurturing and high-quality pop-up crèche for the little guests at your event.
        Our focus is to give the children at your wedding, or event, a fun and special experience, allowing the adults to fully relax and enjoy being present in the moment.  
        We understand children, and their care is at the centre of everything we do. Let us help you ensure that they and you have a wonderful time on your special day!
        We understand that every wedding or event is unique. We offer a free consultation where we take the time to listen to your needs and then create a bespoke service just for you. 

      </p>
      </article>
      <article class="what-we-do-scroller">
        <div class="gallery-wrap" >
          <img src="images/left-arrow.png" class="backBtn"> 
          
          <div class="gallery-container 2"> 
            <div class="gallery-scroll">  
              <span class="gallery-item">
  
                <img src= "https://unsplash.it/600/400?image=501" />
              </span>
              <span class="gallery-item">
  
                <img class="gallery-img" src= "https://unsplash.it/600/400?image=501" />
              </span>
            </div>
            <div class="gallery-scroll">  
  
              <span class="gallery-item">
  
                <img src= "https://unsplash.it/600/400?image=501" />
              </span>
              <span class="gallery-item">
  
                <img src= "https://unsplash.it/600/400?image=501" />
              </span>
            </div>
          </div> 
          
          <img src="images/right-arrow.png" class="nextBtn"> 
        </div>

      </article>
    </section>

    <section id="meet-us">
      <h1>MEET US</h1>
      <div class="meet-us-wrapper">
        <aside class="meet-us-aside1">
          <img class="meet-us-img1" src="https://unsplash.it/450/300?image=501" >
        </aside>
            
        <article class="person">
        
          <div>
            <h2>Sinead</h2>
            <p>
              Sinead is a qualified childcare professional with 20 years of experience in variety of settings including as a childminder and foster carer. 
              She brings a wealth of experience including a depth of knowledge in additional needs support and children’s development. 
              She loves what she does and children never cease to amaze her. She is passionate about supporting families. 
              At the pop-up creche she loves spending time with children, having fun and facilitating an easy and relaxing family experience. 
              She brings a fun, engaging presence that quickly puts children at ease.

            </p>

          </div>  
          
        </article>
        <article class="person2">
        
          <div>
            <h2>Harriet</h2>
            <p>
              Harriet is a teacher and qualified children’s counsellor accredited with the British Association for Counselling and Psychotherapy. 
              She has years of experience working with children in a broad variety of settings from little ones through to teenagers. 
              She loves joining children in imaginative play and facilitating creative activities. 
              She is always there to encourage and help children feel able to join in. 
              She is empathic and warm and enjoys offering a calm, supportive space for children to play. 
            </p>

          </div>  
        </article> 
        <aside class="meet-us-aside2">
          <img class="meet-us-img2" src="https://unsplash.it/450/300?image=501">
        </aside>
      </div>
    </section>

    <section id="gallery">
      <div class="gallery-wrap" >
        <img src="images/left-arrow.png" class="backBtn"> 
        
        <div class="gallery-container"> 
          <div class="gallery-scroll">  
            <span class="gallery-item">

              <img src= "https://unsplash.it/600/400?image=501" />
            </span>
            <span class="gallery-item">

              <img class="gallery-img" src= "https://unsplash.it/600/400?image=501" />
            </span>
          </div>
          <div class="gallery-scroll">  

            <span class="gallery-item">

              <img src= "https://unsplash.it/600/400?image=501" />
            </span>
            <span class="gallery-item">

              <img src= "https://unsplash.it/600/400?image=501" />
            </span>
          </div>
        </div> 
        
        <img src="images/right-arrow.png" class="nextBtn"> 
      </div>
    </section>

   
    <section id="reviews">

      reviews
    </section>

    <section id='faq'>
      <h1> FAQ's</h1>
        <div class="faq-wrapper">
          <article class="faq-question one" >
            <h2 class="slide-one">Why a wedding crèche?</h2>
            <p class="slide-two">A wedding is a special day to celebrate your love with those you love. It’s a time to let your hair down, relax and enjoy yourself after all the hard work that has gone into the planning. Some parts of the day, although beautiful, can feel tiring for little ones- that’s where we come in. We arrive and create a beautiful, peaceful and fun environment for children of all ages to enjoy. Every element is thought about, from activities, toys and games to spare clothes, nappies and snacks to a cosy place for story times and naps, let your guests take a breath knowing we’ve got it all covered to make their day easier. You can relax knowing that when it comes to your little guests, we have it all in hand.</p>
          </article>

          <article class="faq-question two">
            <h2 class="slide-one">What can we offer?</h2>
            <p class="slide-two">We are happy to discuss how you’d like your day to flow and can work with you to facilitate this. We can offer full day crèches, crèches at specific days (for example to keep little ones occupied during the ceremony or speeches) or we can create drop-in family spaces for children and parents alike to enjoy and make use of throughout your event. This can offer a quiet corner for nap times, breastfeeding or if children need a breather if overstimulated. In addition, we can create hand-made activity packs for children to enjoy throughout the day. As the evening draws in you may want to make use of our babysitting and pyjama party packages. We can give you peace of mind by being there to look after your little ones as you get ready for the big day, throughout rehearsal dinners, on the day itself and in the day(s) that follow. We are happy to discuss what would best suit you.</p>
          </article>

          <article class="faq-question three">
            <h2 class="slide-one">What about holidays?</h2>
            <p class="slide-two">Whether a special holiday like a honeymoon or a much-needed family getaway you deserve to switch off while on holiday and feel as rested as possible after you return. Allow us to take the planning and organisation out of your holiday by offering engaging activities to your children while you relax. We can accompany you on every step of your trip or at specific moments to allow you time by the pool or a day out as adults. Share a romantic meal while we offer evening wind-downs, baby-sitting for little ones and pyjama parties for bigger ones.</p>
          </article>

          <article class="faq-question four">
            <h2 class="slide-one">What else do I need to know?</h2>
            <p class="slide-two">We are safeguarding and first aid trained and are fully insured, and DBS checked. In planning for your event, we will take information from you such as allergies and additional needs to ensure that we take the best care of each child. The pop-up crèche is full of beautiful toys, specially chosen to enchant your little ones. We will take information from you about the age and interests of your little guests, and you can leave the rest to us, everything we do will be tailored to them. We request a minimum booking of 4 hours per event and a 50% deposit in order to reserve your date, however this is fully refundable up to 14 days before the event date in case of cancellation. Contact us for a free, no obligation consultation to discuss your bespoke package, we look forward to meeting you!</p>
          </article>
      </div>

    </section>
    <section id="contact">
      <div class="contact-header">
        <h1>Contact & Social Media</h1>
      </div>
      <div class="social-media">
        <h2>Social media</h2>
         <article>
          <img src="images/Facebook_icon-icons.com_66805.png" />
          <img src="images/Instagram_icon-icons.com_66804.png" />
         </article>

      </div>
      <div class="form-wrapper">
        <form id="contactForm" method="post" action="/contact">
          <h2>Please use this form to contact us</h2>

          
          <input id="name" name="name" type="text" class="inputfield" placeholder="  Name" required>
          <br>

          
          <input id='telephone' name="telephone" type="tel" class="inputfield" placeholder="  Telephone" required>
          <br>

          
          <input id="email" name="email" type="email" class="inputfield" placeholder="  Email" required>
          <br>

          
          <textarea id="message" class="inputfield" name="message"  cols="50" rows="10" placeholder="  Message" required></textarea>
          <br>

          
        </form>
        <button id=contact-button type="submit" form="contactForm" value="Send">Submit</button>

      </div>
      <div id="modal" class="modal">

        <div id='modal-content' class="modal-content">
          <aside class="modal-img">
              <img src="" >
          </aside>
          <p  id="modal-p">
              
          </p>
          <span id='close-modal' class="close-modal">&times;</span>
        </div>
      </div>
      
    </section>


    <footer>
        <%- include('./partials/footer') %>
      
    </footer>

   


    
  </div>
</body>

<script src="js/indexHtmlJs.js">
  console.log('Welcome to the homepage of "The Wedding Creche", please do not enter anything into this console, this is how hackers can target you');
</script>
</html>
