/* Css file for the wedding crecheb*/

body{

   font-family: 'Kalam', cursive;
   font-size: 1.2em;
   line-height: 1.5;


}

#overlay{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 0 3%;
    
}


nav{
    grid-column: 1 / span 3;
    grid-row: 1 / 2;
}

#splash{
    grid-column: 2 / span 1;
    grid-row: 2/ 3;
}

#what-we-do{
    grid-column: 1 / span 3;
    grid-row: 4 / 5;
}

#meet-us{
    grid-column: 1 / span 3;
    grid-row: 5 / 6;
}

#reviews{
    grid-column: 1 / span 3;
    grid-row: 6 / 7;
}

#faq{
    grid-column: 1 / span 3;
    grid-row: 7/ 8;

}

/* Gallery + WHAT WE DO (scroller) CSS */
#gallery{
    grid-column: 1 / span 3;
    grid-row: 8 / 9;
  

}

.gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}

.gallery-container{

    width: 90%;
    display: flex; 
    overflow-x: scroll;
    
    
}

.gallery-container::-webkit-scrollbar{
    display: none;
}

.gallery-container div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;

  }
  
.gallery-container div img{
    width: 100%;
    filter: grayscale(100%);
    transition: 0.5s;
    
}

.gallery-container div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}

#nextBtn #backBtn {
    width: 50px;
    cursor: pointer;
    margin: 40px;
}


#nextBtn:hover, #backBtn:hover{
    cursor: pointer;
    transform: scale(1.1);
}








#contact{
    grid-column: 2 / span 1;
    grid-row: 9 / 10;
}

/* contact form modal css */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content{
    display: grid;
    grid-template-columns: 20% 75% 5%;
    
    align-items: center;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
  }

  .modal-img{
    grid-column: 1;
  }

  #modal-p{
    grid-column: 2;
    padding-right: 20%;
    display: flex;
    justify-content: center;
  }
  
  /* The Close Button */
  .close-modal {
    grid-column: 3;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    vertical-align: top;
  }
  
  .close-modal:hover,
  .close-modal:focus {
    color: #5B9240;
    text-decoration: none;
    cursor: pointer;
  }

  @media only screen and (max-width: 420px){
    .modal-img img{
       width: 35px;
      }
    

  }

  @media only screen and (min-width: 480px) and (max-width: 1100px) {
    
    .modal-img img{
        width: 45px;
       }
  }

footer{
    grid-column: 1 / span 3;
    grid-row: 10 / 11;
}

.wattsLink {
    font-family: 'Genos', sans-serif;
    font-weight: 800;
    font-size: 1.2em;
    

    --b: 0.1em;   /* the thickness of the line */
    --c: #654de9; /* the color */
    
    color: #0000;
    padding-block: var(--b);
    background: 
      linear-gradient(var(--c) 50%,#6b59d4d2 0) 0% calc(100% - var(--_p,0%))/100% 200%,
      linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
  }
  .wattsLink:hover {
    cursor: url;
    --_p: 100%;
    --_s: .3s;
  }