/* Css file for the wedding crecheb*/

body{

   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

#overlay{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    
}


nav{
    grid-column: 1 / span 3;
    grid-row: 1 / 2;
}

#splash{
    grid-column: 2 / span 1;
    grid-row: 2/ 3;
}

#what-we-do{
    grid-column: 1 / span 3;
    grid-row: 4 / 5;
}

#meet-us{
    grid-column: 1 / span 3;
    grid-row: 5 / 6;
}

#reviews{
    grid-column: 1 / span 3;
    grid-row: 6 / 7;
}

#faq{
    grid-column: 1 / span 3;
    grid-row: 7/ 8;

}

/* Gallery + WHAT WE DO (scroller) CSS */
#gallery{
    grid-column: 1 / span 3;
    grid-row: 8 / 9;
  

}

.gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}

.gallery-container{

    width: 90%;
    display: flex; 
    overflow-x: scroll;
    
    
}

.gallery-container::-webkit-scrollbar{
    display: none;
}

.gallery-container div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;

  }
  
.gallery-container div img{
    width: 100%;
    filter: grayscale(100%);
    transition: 0.5s;
    
}

.gallery-container div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}

#nextBtn #backBtn {
    width: 50px;
    cursor: pointer;
    margin: 40px;
}


#nextBtn:hover, #backBtn:hover{
    cursor: pointer;
    transform: scale(1.1);
}








#contact{
    grid-column: 2 / span 1;
    grid-row: 9 / 10;
}

footer{
    grid-column: 1 / span 3;
    grid-row: 10 / 11;
}

.wattsLink {
    font-family: 'Genos', sans-serif;
    font-weight: 800;
    font-size: 1.2em;
    

    --b: 0.1em;   /* the thickness of the line */
    --c: #654de9; /* the color */
    
    color: #0000;
    padding-block: var(--b);
    background: 
      linear-gradient(var(--c) 50%,#6b59d4d2 0) 0% calc(100% - var(--_p,0%))/100% 200%,
      linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
  }
  .wattsLink:hover {
    cursor: url;
    --_p: 100%;
    --_s: .3s;
  }